.contact-section {
    padding: 40px;
    background-color: #0D012C;
}

.contact-wrapper {
    background-color: #0C0122;
    border-radius: 20px;
    padding: 40px 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

#contact-txt2 {
    color: #CCCCCC;
}

.contact-wrapper h4 {
    padding-bottom: 10px;
    line-height: 30px;
}

.contact-me h3 {
    padding-bottom: 23px;
    font-size: 13px;
}
.newsletter h3 {
    padding-bottom: 23px;
}

.newsletter-inputs {
    margin: 25px 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.subscribe-btn {
    padding-top: 20px;
    width: fit-content;
}

.subscribed {
    opacity: 0;
  }

  .tick {
    opacity: 1;
  }

  @media only screen and (max-width: 1100px) {
    .contact-wrapper {
        flex-direction: column;
        align-content: center;
        gap: 50px;
    }
  }

  @media only screen and (max-width: 550px) {
    .newsletter-inputs {
        flex-direction: column;
        gap: 20px;
    }
  }