@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    background-color: black;
}

.header-text {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 60px;
    line-height: 120px;
}
.name-container {
    display: flex;
    gap: 5px;
    /* position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 10px; */
}

.braces {
    display: flex;
    gap: 50px;
}
.header-text p {
    font-size: 100px;
}

