.project-section, .project-cards-container {
    font-family: 'Poppins', sans-serif;
    background-color: #0D012C;
    padding: 60px 0px;
    text-align: center;

}

.project-cards-container {
    width: 90%;
    margin: 0 auto;
}

.project-card-container {
    width: 400px;
    height: 400px;
    border-radius: 12px;
    background-color: #14143A;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    border: 1.5px solid #202044;
    transition: ease-in;
    transition-duration: 250ms;
}

.project-card-container:hover {
    border-bottom: 1px solid #59C378;
}

.project-section h4{
    padding: 10px;
    color: white;
}

.project-img {
    /* border-radius: 80%; */
}
.project-img img{
    width: 100%;
    transition: ease-in;
    transition-duration: 150ms;
    border-radius: 10px;
    overflow: hidden;
}

.project-img img:hover {
    scale: 1.05;
}

.project-tech {
    background: linear-gradient(to right,rgb(40, 56, 203), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.project-name {
    font-weight: 700;
}

.project-about {
    font-size: 13px;
    text-align: left;
    line-height: 21px;
    font-weight: 300;
    padding: 25px;
    color: #cccccc;
}

.project-live {
    display: flex;
    text-align: left;
    justify-content: space-around;
    gap: 70px;
}
.project-live a{
    text-decoration: none;
    color: #7E8B9E;
    font-size: 12px;
    align-items: center;
    transition: ease-in;
    transition-duration: 200ms;
}

.project-site, .project-source {
    display: flex;
    gap: 5px;
    align-items: center;
    transition: ease-in;
    transition-duration: 200ms;
}

.project-site:hover, .project-source:hover {
    scale: 1.02;
    color: #59C378;
}
.project-site:hover a, .project-source:hover a {
    color: rgb(178, 178, 178);
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
.project-cards-container {
    width: 75%;
    /* padding-left: 3%; */
}
}

@media only screen and (max-width: 1200px) and (min-width: 1071px) {
.project-cards-container {
    width: 80%;
    /* padding-left: 4%; */
}
}

@media only screen and (max-width: 1070px) {
.project-cards-container {
    width: 50%;
}
}

@media only screen and (max-width: 820px) {
.project-cards-container {
    width: 60%;
}
}
@media only screen and (max-width: 685px) {
.project-cards-container {
    width: 70%;
}
}
@media only screen and (max-width: 595px) {
.project-cards-container {
    width: 95%;
    scale: 0.7;
}
}
@media only screen and (max-width: 420px) {
.project-cards-container {
    width: 100%;
    scale: 0.7;
}
}