.skills-section, .cards-container {
    font-family: 'Poppins', sans-serif;
    background-color: #0D012C;
    padding: 60px 40px;
    text-align: center;

}


.card-container {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #14143A ;
    font-size: 1em;
    padding: 20px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0 .4rem .4em rgba(0,0,0,.5));
    transform: translate3d(0, 0, 0);
    cursor: pointer;
}


.skills-section h4{
    padding: 10px;
    color: white;
}